[net]
# Testing
#batch=1
#subdivisions=1
# Training
batch=64
subdivisions=8
width=1024
height=512
channels=3
momentum=0.9
decay=0.0005
angle=0
saturation = 1.5
exposure = 1.5
hue=.1

learning_rate=0.001
burn_in=1000
max_batches = 100200
policy=steps
steps=40000,65000
scales=.1,.1
#0
[convolutional]
batch_normalize=1
filters=24
size=3
stride=1
pad=1
activation=leaky
#1
[maxpool]
size=2
stride=2
#2
[convolutional]
batch_normalize=1
filters=48
size=3
stride=1
pad=1
activation=leaky
#3
[maxpool]
size=2
stride=2
#4
[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky
#5
[convolutional]
batch_normalize=1
filters=32
size=1
stride=1
pad=1
activation=leaky
#6
[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky
#7
[maxpool]
size=2
stride=2
#8
[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=leaky
#9
[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=1
activation=leaky
#10
[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=leaky
#11
[maxpool]
size=2
stride=2
#12
[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=leaky
#13
[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=leaky
#14
[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=leaky
#15
[maxpool]
size=2
stride=2
#16
[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=leaky
#17
[convolutional]
batch_normalize=1
filters=512
size=1
stride=1
pad=1
activation=leaky
#18
[convolutional]
batch_normalize=1
filters=1024
size=3
stride=1
pad=1
activation=leaky
#19
[convolutional]
batch_normalize=1
filters=1024
size=3
stride=1
pad=1
activation=leaky
#20
[convolutional]
batch_normalize=1
filters=1024
size=3
stride=1
pad=1
activation=leaky


#######
[route]
layers=-9

[reorg]
stride=2

[route]
layers=-1,-3

[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=1024
activation=leaky

[convolutional]
size=1
stride=1
pad=1
filters=75
activation=linear


[region]
anchors =  0.57273, 0.677385, 1.87446, 2.06253, 3.33843, 5.47434, 7.88282, 3.52778, 9.77052, 9.16828
bias_match=1
classes=8
coords=6
num=5
softmax=1
jitter=.3
rescore=1

object_scale=5
noobject_scale=1
class_scale=1
coord_scale=1

absolute=1
thresh = .6
random=1
